{% extends "layouts.html" %}

{% block main %}
<h1>Current Commitee Members</h1>
<hr>
<div class="myflex">
    <div class="card" style="width: 18rem;">
        <img src="{{ url_for('static', filename='commitee.png') }}" class="card-img-top" alt="Picture of Commitee Member">
        <div class="card-body">
          <h5 class="card-title">Onnwann</h5>
          <p class="card-text">About yourself</p>
          <a href="#" class="btn btn-primary">Find out more</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="{{ url_for('static', filename='commitee.png') }}" class="card-img-top" alt="Picture of Commitee Member">
        <div class="card-body">
          <h5 class="card-title">Chloe</h5>
          <p class="card-text">About yourself</p>
          <a href="#" class="btn btn-primary">Find out more</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="{{ url_for('static', filename='commitee.png') }}" class="card-img-top" alt="Picture of Commitee Member">
        <div class="card-body">
          <h5 class="card-title">Annellise</h5>
          <p class="card-text">About yourself</p>
          <a href="#" class="btn btn-primary">Find out more</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="{{ url_for('static', filename='commitee.png') }}" class="card-img-top" alt="Picture of Commitee Member">
        <div class="card-body">
          <h5 class="card-title">Siu Shen</h5>
          <p class="card-text">About yourself</p>
          <a href="#" class="btn btn-primary">Find out more</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="{{ url_for('static', filename='commitee.png') }}" class="card-img-top" alt="Picture of Commitee Member">
        <div class="card-body">
          <h5 class="card-title">Jeng Yeong</h5>
          <p class="card-text">About yourself</p>
          <a href="#" class="btn btn-primary">Find out more</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="{{ url_for('static', filename='commitee.png') }}" class="card-img-top" alt="Picture of Commitee Member">
        <div class="card-body">
          <h5 class="card-title">Amanda</h5>
          <p class="card-text">About yourself</p>
          <a href="#" class="btn btn-primary">Find out more</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="{{ url_for('static', filename='commitee.png') }}" class="card-img-top" alt="Picture of Commitee Member">
        <div class="card-body">
          <h5 class="card-title">Qian Hui</h5>
          <p class="card-text">About yourself</p>
          <a href="#" class="btn btn-primary">Find out more</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="{{ url_for('static', filename='commitee.png') }}" class="card-img-top" alt="Picture of Commitee Member">
        <div class="card-body">
          <h5 class="card-title">Jing Ci</h5>
          <p class="card-text">About yourself</p>
          <a href="#" class="btn btn-primary">Find out more</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="{{ url_for('static', filename='commitee.png') }}" class="card-img-top" alt="Picture of Commitee Member">
        <div class="card-body">
          <h5 class="card-title">Jia Hui</h5>
          <p class="card-text">About yourself</p>
          <a href="#" class="btn btn-primary">Find out more</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="{{ url_for('static', filename='commitee.png') }}" class="card-img-top" alt="Picture of Commitee Member">
        <div class="card-body">
          <h5 class="card-title">Landy</h5>
          <p class="card-text">About yourself</p>
          <a href="#" class="btn btn-primary">Find out more</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="{{ url_for('static', filename='commitee.png') }}" class="card-img-top" alt="Picture of Commitee Member">
        <div class="card-body">
          <h5 class="card-title">Jo Wie</h5>
          <p class="card-text">About yourself</p>
          <a href="#" class="btn btn-primary">Find out more</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="{{ url_for('static', filename='commitee.png') }}" class="card-img-top" alt="Picture of Commitee Member">
        <div class="card-body">
          <h5 class="card-title">Wan Er</h5>
          <p class="card-text">About yourself</p>
          <a href="#" class="btn btn-primary">Find out more</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="{{ url_for('static', filename='commitee.png') }}" class="card-img-top" alt="Picture of Commitee Member">
        <div class="card-body">
          <h5 class="card-title">Cher-rynne</h5>
          <p class="card-text">About yourself</p>
          <a href="#" class="btn btn-primary">Find out more</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="{{ url_for('static', filename='commitee.png') }}" class="card-img-top" alt="Picture of Commitee Member">
        <div class="card-body">
          <h5 class="card-title">Jamie</h5>
          <p class="card-text">About yourself</p>
          <a href="#" class="btn btn-primary">Find out more</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="{{ url_for('static', filename='commitee.png') }}" class="card-img-top" alt="Picture of Commitee Member">
        <div class="card-body">
          <h5 class="card-title">Cheng Xun</h5>
          <p class="card-text">About yourself</p>
          <a href="#" class="btn btn-primary">Find out more</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="{{ url_for('static', filename='commitee.png') }}" class="card-img-top" alt="Picture of Commitee Member">
        <div class="card-body">
          <h5 class="card-title">Jesrene</h5>
          <p class="card-text">About yourself</p>
          <a href="#" class="btn btn-primary">Find out more</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="{{ url_for('static', filename='commitee.png') }}" class="card-img-top" alt="Picture of Commitee Member">
        <div class="card-body">
          <h5 class="card-title">Jia Hui</h5>
          <p class="card-text">About yourself</p>
          <a href="#" class="btn btn-primary">Find out more</a>
        </div>
    </div>
</div>
{% endblock %}